* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

body {
	font-family: 'Manrope', sans-serif;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    line-height: 20px;

}

.page {

	
	height: 3500px;
	background-color: #000;
}

.header-container {
	height: 120px;
	background-color: #C0C0C0;
	position: relative;
}



.header-container h1 {
	font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
  
    
}

   .header-container h3 {
	display: flex;
	align-items: center;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: lighter;

}
    


.image-container {
	position: relative;
	height: 800px;
	background-image: url(../pics/1stpic.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	}

.button-container {
	position: relative;
	


	
}
button {
	font-family: 'Rubik Mono One', sans-serif;
	margin-top:45%;
	margin-left: 44%;
}

.menu {
	width: 100%;
	height: 90px;
	background-color: #C0C0C0;
	position: relative;


}

.list {
margin-left: 25%;
padding: 20px;


}

li {
	display: inline;
	padding: 70px;


}

a {
	text-decoration: none;
	color: #000;
	font-size: 15px;
}


.bio-container {
	width: 40%;
	height: 620px;
	background: #000;
	color: #C0C0C0;
	display: block;
	margin-left: auto;
    margin-right: auto;
	
}

.bio-container h2{
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 90px;
}
.text {
	
  
    line-height: 20px;
}
.foto-container {
	
	height: 800px;
	background-image: url(../pics/2ndpic.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.foto {
	width: 40%;
	height: 800px;
	background-color: rgba(000, 000, 000, 0.5);
	color: #C0C0C0;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.foto h2 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 90px;
}

.video-container {
	
	height: 950px;
	background-image: url(../pics/video.gif);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.video {
	width: 40%;
	height: 950px;
	background-color: rgba(000, 000, 000, 0.1);
	color: #C0C0C0;
	margin: 0 auto;
   
}

.video h2 {
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 90px;
}

.links-container {
	width: 100%;
	height: 90px;
	background-color: #C0C0C0;
	text-align: center;

}
.links h2 {
	
	font-family: 'Rubik Mono One', sans-serif;
	font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 50px;
}

.links {
	display: inline-block;
	font-weight: bold;
}
.links a {
	color: blue;
	
}

.footer-container {
	height: 90px;
	background-color: #000;
	
}
.footer {
	font-family: 'Manrope', sans-serif;
	text-align: center;
	font-size: 10px;
	width: 40%;
	height: 90px;
	color: #C0C0C0;
	margin: 0 auto;
	position: relative;
    
	
}
footer:nth-child(3) {
	font-style: italic;
}

.footer img {
	
	width: 40px;
	height: 40px;
}
