*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit; 
}

html { 
	font-size: 62.5%
}

:root {
  --color-primary: red;
  --color-secondary: yellow;
}

body  {
	font-family: Helvetica;
	font-size: 1.6rem;
	line-height: 2.3rem;
}

.header, .footer {
	background-color: var(--color-primary);
	height: 6rem;
	color: white;
	display: flex;
	align-items: center;
}
.main {
	border: 2px solid red;
	text-align: center;
	
}

h1 {

	margin-left: 1.5rem;
}
h2 {
	font-weight: bolder;
}


h3 {
	font-family: Times New Roman;
	font-weight: lighter;
}


.column {
	text-align: left;
	border: 3px solid var(--color-secondary);
	border-radius: 1.5rem;
	width: 35rem;
	display: inline-block;
	padding: 3rem;
	
}

.column-two {
	margin: 8.5rem;

}


ul {
	margin-top: 1.5rem;
}

li {
	font-family: Times New Roman;
	list-style-type: none;
}

